$primary-color: (
  50: #fdece5,
  100: #f9d1be,
  200: #f6b293,
  300: #f29368,
  400: #ef7b47,
  500: #ec6427,
  600: #ea5c23,
  700: #e7521d,
  800: #e44817,
  900: #df360e,
  A100: #ffffff,
  A200: #ffddd7,
  A400: #ffb3a4,
  A700: #ff9d8b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent-color: (
  50: #fffdf9,
  100: #fffbf0,
  200: #fff9e6,
  300: #fff6db,
  400: #fff4d4,
  500: #fff2cc,
  600: #fff0c7,
  700: #ffeec0,
  800: #ffecb9,
  900: #ffe8ad,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
