.main-container {
  font-size: large;
}
.textarea-style {
  width: 100%;
  max-height: 100px;
}
.btn-primary {
  display: flex;
  padding-right: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  width: 50%;
}
