<div class="main-container">
  <div>
    <mat-form-field class="textarea-style">
      <mat-label>Input JSON</mat-label>
      <div [formGroup]="form">
        <textarea
          matInput
          placeholder="Input JSON"
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          cdkAutosizeMaxRows="15"
          formControlName="inputJSON"
        ></textarea>
      </div>
    </mat-form-field>
  </div>
  <br />
  <mat-form-field>
    <mat-label>Append keys with</mat-label>
    <div [formGroup]="form">
      <input
        matInput
        type="text"
        placeholder="Append keys with"
        formControlName="appendStr"
      />
    </div>
  </mat-form-field>
  <br />

  <div class="btn-primary">
    <button mat-raised-button color="primary" (click)="processInput()">
      Process Input
    </button>
  </div>
  <br />
  <hr />
  <div>
    <mat-form-field class="textarea-style">
      <mat-label>Output</mat-label>
      <div [formGroup]="form">
        <textarea
          matInput
          placeholder="Output"
          cdkTextareaAutosize
          cdkAutosizeMinRows="10"
          formControlName="output"
        ></textarea>
      </div>
    </mat-form-field>
  </div>
</div>
